table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;

    &.is-default{
        tr{
            &:hover{
                td{
                    background: darken($white, 5);
                }
            }
        }
        td,th{
            border-bottom: 0.1rem solid darken($white, 10);
        }
    }
    &.is-fixed{
        top:0;
        position:fixed;
        width:auto;
        display:none;
    }

    &.is-absolute{
        position: absolute;
    }
}

td,
th {
    background: $white;
    padding: 1.2rem .6rem;
    text-align: left;
}
