// Images
$image-path: "../images";

// Typography
$font-path-local: "../fonts";
//$font-path-cdn: "//cdn.website.com/fonts";
$font-path: $font-path-local;

$font-base: "Lato", sans-serif;
$font-theme: "Museo Sans", sans-serif;
$font-code: "monospace", monospace;

$font-weight-base: 400;
$font-weight-base-strong: 700;
$font-weight-theme: 500;
$font-weight-theme-strong: 700;
$font-weight-theme-stronger: 900;

$font-size-logo: 3.8rem;
$font-size-h1: 3.2rem;
$font-size-h2: 2.8rem;
$font-size-h3: 2.2rem;
$font-size-h4: 1.6rem;
$font-size-base: 1.6rem;

$line-height-base: 1.1;
$line-height: 1.6;

// Colors
$black: #222;
$white: #fff;
$grey: #777;
$blue: blue;
$red: red;
$green: green;
$orange: orange;
$purple: purple;
$pink: pink;
$yellow: yellow;

// Layout
$base-width: 0.5rem;
$spacing: 0.9em;
$spacing-half: $spacing / 2;
$spacing-fourth: $spacing / 4;
$spacing-double: $spacing * 2;

// Properties
$border-radius: 6px;
$border-radius-half: $border-radius / 2;
$border-radius-double: $border-radius * 2;

// Grid
$gutter: 20px;
$gutter-half: $gutter / 2;
$gutter-fourth: $gutter / 4;
$gutter-double: $gutter * 2;

//bourbon neat
$neat-grid: (
  columns: 12,
  gutter: $gutter,
);

$neat-grid-no-gutter: (
  columns: 12,
  gutter: 0
);

//media is optional > use own grid system for more flexibility
$neat-grid-extra-gutter: (
  columns: 12,
  gutter: $gutter * 1.5
);

$neat-grid-half-gutter: (
  columns: 12,
  gutter: $gutter / 2
);

$neat-grid-24: (
  columns: 24,
  gutter: $gutter
);

$neat-grid-custom-media-example: (
  columns: 6,
  gutter: $gutter-double,
  media: 28em
);

$neat-grid-custom-media-map-get-example: (
  columns: 6,
  gutter: $gutter-double,
  media: map_get($breakpoints, xs)
);

// CSS3

// Transitions
$transition-duration-short: 0.2s;
$transition-duration-medium: 0.3s;
$transition-duration-long: 0.6s;
$transition-delay: 0.1s;

// Borders
$border-radius: 8px;
$border-radius-half: $border-radius / 2;
$border-radius-fourth: $border-radius / 4;
