$font-name: "museosans";
$font-version: "1.0.0";

@import "../styles/100";
@import "../styles/100italic";
@import "../styles/300";
@import "../styles/300italic";
@import "../styles/500";
@import "../styles/500italic";
@import "../styles/700";
@import "../styles/700italic";
@import "../styles/900";
@import "../styles/900italic";
