@mixin button($fill-color: $blue, $text-color: $white){
    background-color: $fill-color;
    color: $text-color;

    &:focus,
    &:hover {
        background-color: darken($fill-color, 10);
        color: $text-color;
    }

    &[disabled] {
        &:focus,
        &:hover {
            background-color: $fill-color;
        }
    }
}
