body{
    &.is-development{
        &:after{
            position: fixed;
            bottom: 0;
            right: 0;
            background: $black;
            color: $white;
            padding: 0.5rem 1rem;
            font-size: 1.3rem;
            font-family: $font-base;
            border-radius: $border-radius 0 0 0;
            z-index: 10000;
            content: "XXS - #{$bp-xxs}em(#{$bp-xxs-px}px)";
            @include media(xs-only){
                content: "XS - #{$bp-xs}em(#{$bp-xs-px}px)";
            }
            @include media(sm){
                content: "SM - #{$bp-sm}em(#{$bp-sm-px}px)";
            }
            @include media(md){
                content: "MD - #{$bp-md}em(#{$bp-md-px}px)";
            }
            @include media(lg){
                content: "LG - #{$bp-lg}em(#{$bp-lg-px}px)";
            }
            @include media(xl){
                content: "XL - #{$bp-xl}em(#{$bp-xl-px}px)";
            }
        }
    }
}
