@mixin fontdef($font-type) {
  src: url('#{$font-path}/#{$font-name}-#{$font-type}.eot?v=#{$font-version}');
  src:
    url('#{$font-path}/#{$font-name}-#{$font-type}.eot?#iefix&v=#{$font-version}') format('embedded-opentype'),
    url('#{$font-path}/#{$font-name}-#{$font-type}.woff2?v=#{$font-version}') format('woff2'),
    url('#{$font-path}/#{$font-name}-#{$font-type}.woff?v=#{$font-version}') format('woff'),
    url('#{$font-path}/#{$font-name}-#{$font-type}.ttf?v=#{$font-version}') format('truetype'),
    url('#{$font-path}/#{$font-name}-#{$font-type}.svg?v=#{$font-version}##{$font-type}') format('svg');
}
